.marker{
	background-image: url('../img/mapa/placeholder.png');
	background-size: cover;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	cursor: pointer;
}

#map{
	width: 100%; 
	height: 41rem;
}

@media (max-width:768px){
	#protectMap{
		position: absolute;
		width:100%;
		height: 40rem;
	}
}